<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sign In</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Customized Bootstrap Stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div
      class="container-fluid d-flex justify-content-center align-items-center vh-100"
    >
      <div class="col-md-5">
        <div class="bg-secondary rounded p-4">
          <h3 class="text-center text-primary mb-4">Sign In</h3>
          <!-- Error Message Placeholder -->
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %}
          <div class="alert alert-danger">
            {% for category, message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
          </div>
          {% endif %} {% endwith %}

          <form id="signin-form" action="/signin" method="POST">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Email"
                required
              />
              <label for="email">Email address</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="Password"
                required
              />
              <label for="password">Password</label>
            </div>

            <div class="form-floating mb-4">
              <select class="form-select" id="role" name="role" required>
                <option value="user" selected>User</option>
                <option value="admin">Admin</option>
              </select>
              <label for="role">Sign in as</label>
            </div>

            <button type="submit" class="btn btn-primary w-100 py-3">
              Sign In
            </button>
            <p class="text-center mt-3">
              Don’t have an account? <a href="/signup">Sign Up</a>
            </p>
          </form>
        </div>
      </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='js/signin.js') }}"></script>
  </body>
</html>
